* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'samarkan';
    src: url(./SAMAN___.TTF);
}

.apply_grid {
    height: 200px;
    aspect-ratio: 1;
    border: 2px solid black;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.home-bg, .menu-bg, .wood-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-bg {
    background-image: url(bharat.jpg);
}

.menu-bg {
    background-image: url(./images/menuBg.jpeg);
}

.wood-bg {
    background-image: url(./images/wood.avif);
}

.chai-img {
    background-image: url(./chai.jpg);
}

