* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'samarkan';
    src: url(./SAMAN___.TTF);
}

.apply_grid {
    height: 200px;
    aspect-ratio: 1;
    border: 2px solid black;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 233, 238);
    height: 150px;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 2px solid blue;
    padding: 10px;
    font-size: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-img, .menu-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-img {
    background-image: url(bharat.jpg);
}

.menu-bg {
    background-image: url(./images/menuBg.jpeg);
}
