* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'samarkan';
    src: url(./SAMAN___.TTF);
}

.apply_grid {
    height: 200px;
    aspect-ratio: 1;
    border: 2px solid black;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.home-bg, .menu-bg, .wood-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-bg {
    background-image: url(bharat.jpg);
}

.menu-bg {
    background-image: url(./images/menuBg.jpeg);
}

.wood-bg {
    background-image: url(./images/wood.avif);
}

.chai-img {
    background-image: url(./chai.jpg);
}

.lassi-img {
    background-image: url(./images/bevrages/lassi.avif);
}

.lemonade-img {
    background-image: url(./images/bevrages/lemonade.avif);
}

.sattu-img {
    background-image: url(./images/bevrages/sattu.avif);
}

.sugarcane-img {
    background-image: url(./images/bevrages/sugarcane-juice.avif);
}

.thandai-img {
    background-image: url(./images/bevrages/thandai.avif);
}

.chickenT-img {
    background-image: url(./images/starter/chicken-tikka.avif);
}

.dahiP-img {
    background-image: url(./images/starter/dahi-puri.avif);
}

.keemaP-img {
    background-image: url(./images/starter/keema-pav.avif);
}

.muttonK-img {
    background-image: url(./images/starter/mutton-kebab.avif);
}

.paneerT-img {
    background-image: url(./images/starter/paneer-tikka.avif);
}

.samosa-img {
    background-image: url(./images/starter/samosa.avif);
}

.dosa-img {
    background-image: url(./images/main_course/dosa.avif);
}

.chickenB-img {
    background-image: url(./images/main_course/chicken-biryani.avif);
}

.idli-img {
    background-image: url(./images/main_course/idli.avif);
}

.thali-img {
    background-image: url(./images/main_course/indian-thali.jpg);
}

.pPaneer-img {
    background-image: url(./images/main_course/palak-paneer.jpg);
}

.vegB-img {
    background-image: url(./images/main_course/veg-biryani.jpg);
}

